<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyj.gx.dao.CategoryMapper">

    <resultMap id="pageMap" type="com.gyj.gx.domain.response.CategoryDTO">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="subtype" property="subtype"/>
        <result column="num" property="num"/>
    </resultMap>

    <select id="selectPageVO" resultMap="pageMap">
        SELECT c.id, c.type, c.subtype, IF(cp.num IS NULL, 0, cp.num) num
        FROM t_category c
                 LEFT JOIN (SELECT cid, COUNT(*) num FROM t_category_problem WHERE deleted = 0 GROUP BY cid) cp
                     ON c.id = cp.cid
        WHERE c.deleted = 0
          <if test="map.type!=null and map.type!=4">
            AND c.type = #{map.type}
          </if>
          <if test="map.subtype!=null and map.subtype!=''">
            AND c.subtype LIKE CONCAT('%', #{map.subtype}, '%')
          </if>
        ORDER BY c.id
    </select>

    <select id="getProblemNum" resultType="Integer">
        SELECT COUNT(*)
        FROM t_category_problem
        WHERE cid = #{map.id}
        AND deleted = 0
    </select>

    <select id="categoriesRelatedToProblem" resultMap="pageMap">
        SELECT c.id, c.type, c.subtype
        FROM t_category_problem cp
                 LEFT JOIN (SELECT id, type, subtype FROM t_category WHERE deleted = 0)c ON cp.cid = c.id
        WHERE cp.deleted = 0
          AND cp.pid = #{map.id}
    </select>

</mapper>