<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyj.gx.dao.PaperMapper">

    <resultMap id="pageMap" type="com.gyj.gx.domain.response.ProblemDTO">
        <id column="id" property="id"/>
        <result column="problem_type" property="problemType"/>
        <result column="description" property="description"/>
        <result column="option_a" property="optionA"/>
        <result column="option_b" property="optionB"/>
        <result column="option_c" property="optionC"/>
        <result column="option_d" property="optionD"/>
    </resultMap>

    <select id="getProblemRelatedToPaper" resultMap="pageMap">
        SELECT pb.id, pb.problem_type, pb.description, pb.option_a, pb.option_b, pb.option_c, pb.option_d
        FROM t_problem_paper pp
                 LEFT JOIN (SELECT id, problem_type, description, option_a, option_b, option_c, option_d
                            FROM t_problem
                            WHERE deleted = 0) pb ON pp.pbid = pb.id
        WHERE pp.deleted = 0
          AND pp.ppid=#{map.id}
        ORDER BY pp.id
    </select>

</mapper>