<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyj.gx.dao.UserMapper">
    <update id="updateAvatar">
        update t_user
        <set>
            <if test=""></if>
        </set>
        set avatar = #{avatar} where user_id = #{userId}
    </update>

</mapper>